In [4]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import sqlite3
import getpass # To get the password without showing the input

In [53]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\renev\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [54]:
password = getpass.getpass()

········

In [66]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/new_schema'
#root = name of the user
#database
#if working on a machine not local (localhost), could need to be changed to an ip address
engine = create_engine(connection_string)
# data = pd.read_sql_query('SELECT * FROM loan', engine)
# data.head()

#engine → creates a connection so you don't have to include password everytime

In [67]:
data = pd.read_csv('charts_top200_global.csv')
data.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,title,rank,date,artist_x,url,region,chart,...,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
0,3432,3432,3432,Shape of You,1,2017-04-01,Ed Sheeran,https://open.spotify.com/track/7qiZfU4dY1lWllz...,Global,top200,...,0.652,0.000000,1.0,0.0931,-3.183,0.0,0.0802,95.977,4.0,0.931
1,3433,3433,3433,Passionfruit,2,2017-04-01,Drake,https://open.spotify.com/track/7hDc8b7IXETo14h...,Global,top200,...,0.463,0.085000,11.0,0.1090,-11.377,1.0,0.0396,111.980,4.0,0.364
2,3434,3434,3434,It Ain't Me (with Selena Gomez),3,2017-04-01,Kygo,https://open.spotify.com/track/3eR23VReFzcdmS7...,Global,top200,...,0.533,0.000000,0.0,0.0864,-6.596,1.0,0.0706,99.968,4.0,0.515
3,3435,3435,3435,Something Just Like This,4,2017-04-01,"The Chainsmokers, Coldplay",https://open.spotify.com/track/6RUKPb4LETWmmr3...,Global,top200,...,0.635,0.000014,11.0,0.1640,-6.769,0.0,0.0317,103.019,4.0,0.446
4,3436,3436,3436,Despacito (Featuring Daddy Yankee),5,2017-04-01,Luis Fonsi,https://open.spotify.com/track/4aWmUDTfIPGksMN...,Global,top200,...,0.786,0.000000,2.0,0.1120,-4.757,1.0,0.1700,177.833,4.0,0.846

In [68]:
data = data.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1'],axis =1)

In [69]:
data.shape

(339982, 28)

In [70]:
data.to_sql('charts_top200_global', engine, if_exists='replace', index = False)

In [71]:
query = '''SELECT * FROM charts_top200_global;'''
check = pd.read_sql_query(query , engine)
check.head()

,title,rank,date,artist_x,url,region,chart,streams,genre,track_id,...,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
0,Shape of You,1,2017-04-01,Ed Sheeran,https://open.spotify.com/track/7qiZfU4dY1lWllz...,Global,top200,6815498.0,"['uk pop', 'pop']",7qiZfU4dY1lWllzX7mPBI3,...,0.652,0.000000,1.0,0.0931,-3.183,0.0,0.0802,95.977,4.0,0.931
1,Passionfruit,2,2017-04-01,Drake,https://open.spotify.com/track/7hDc8b7IXETo14h...,Global,top200,4235699.0,"['toronto rap', 'canadian pop', 'canadian hip ...",7hDc8b7IXETo14hHIHdnhd,...,0.463,0.085000,11.0,0.1090,-11.377,1.0,0.0396,111.980,4.0,0.364
2,It Ain't Me (with Selena Gomez),3,2017-04-01,Kygo,https://open.spotify.com/track/3eR23VReFzcdmS7...,Global,top200,4102670.0,"['tropical house', 'pop dance', 'pop', 'edm']",3eR23VReFzcdmS7TYCrhCe,...,0.533,0.000000,0.0,0.0864,-6.596,1.0,0.0706,99.968,4.0,0.515
3,Something Just Like This,4,2017-04-01,"The Chainsmokers, Coldplay",https://open.spotify.com/track/6RUKPb4LETWmmr3...,Global,top200,3890316.0,"['pop', 'pop dance', 'tropical house', 'edm', ...",6RUKPb4LETWmmr3iAEQktW,...,0.635,0.000014,11.0,0.1640,-6.769,0.0,0.0317,103.019,4.0,0.446
4,Despacito (Featuring Daddy Yankee),5,2017-04-01,Luis Fonsi,https://open.spotify.com/track/4aWmUDTfIPGksMN...,Global,top200,3456893.0,"['puerto rican pop', 'latin', 'latin pop']",4aWmUDTfIPGksMNLV2rQP2,...,0.786,0.000000,2.0,0.1120,-4.757,1.0,0.1700,177.833,4.0,0.846

In [74]:
query = '''SELECT title FROM charts_top200_global
where artist_x in ('Ed Sheeran');'''
check = pd.read_sql_query(query , engine)
check.head()

                title
0        Shape of You
1         Galway Girl
2  Castle on the Hill
3             Perfect
4             Happier